
<button id="checkout-button">Pay</button>
<script src="https://js.yoco.com/sdk/v1/yoco-sdk-web.js"></script>
 <link rel='stylesheet prefetch' href="/catalog/view/theme/default/stylesheets/yoco.demo.css">
<script src="/catalog/view/javascript/yoco.demo.js"></script>
<script src="/catalog/view/javascript/yoco.sweetalert.min.js"></script>
<script>
var order_id = {{order_id}};
 // Lets decide on some data
    var price = {{amountinCents}};
    // the currency (must be ZAR)
    var currency = {{currency}};
    // the name at the top of the popup (either shop or product)
    var product_title = {{modal_title}};
    // the description of the purchase (product or product description)
    var product_description = {{order_summary}};
    // shop (YOUR) logo
    var shop_logo = "catalog/view/theme/default/image/logo.png";
    // Customer Name
    var customer_name = {{customer_name}};
    // Customer Email
    var customer_email = {{customer_email}};
    // Metadata (optional)
    var bill_note =  {{bill_note}};;
     var _secretkey = '{{secret_key}}';
    var _publickey = '{{publickey}}';
var yoco = new window.YocoSDK({
  publicKey: _publickey,
});
var checkoutButton = document.querySelector('#checkout-button');
checkoutButton.addEventListener('click', function () { 
  yoco.showPopup({
    amountInCents: {{(amountinCents * 100)}},
    currency: {{currency}},
    name: product_title,
    description: product_description,
    image: shop_logo,
    callback: function (result) {
      if (result.error) {
        const errorMessage = result.error.message;
        alert("error occured: " + errorMessage);
      } else {
        $.ajax({
          'contentType': 'application/json; charset=utf-8',
          "Accept": "*/*",
          'crossDomain': 'true',
          'url': 'catalog/extension/payment/yoco/charge',
          'method': 'POST',
          'dataType': 'json',
          'beforeSend': function (xhr){ 
       //     xhr.setRequestHeader("X-CSRF-TOKEN", result.id);
            xhr.setRequestHeader("X-Auth-Secret-Key", _secretkey );
            xhr.setRequestHeader("Access-Control-Allow-Origin", "*");
            xhr.setRequestHeader('Authorization', make_base_auth(_secret_key, _publickey)); 
          },
        //  'data': 'token=' + result.id
            + '&amountInCents=' + amountInCents
            + "&currency=" + currency
            + "&metadata[billNote]=" + bill_note
            + "&metadata[customerName]=" + customer_name
            + "&metadata[customerEmail]=" + customer_email,
             callback: function (result) {
        //  'success': function (data) {
              if (result.error) {
          const errorMessage = result.error.message;
             swal({
              title: "Token error",
              text: "Response from YUCO " + result.error.message,
              icon: "error",
              button: "OK",
            }).then(function () {
              location.reload();
            });
        } else {
               $.ajax({
          'contentType': 'application/json; charset=utf-8',
          "Accept": "*/*",
          'crossDomain': 'true',
          'url': 'catalog/extension/payment/yoco/postToken',
          'method': 'POST',
          'dataType': 'json',
          'beforeSend': function (xhr){ },
              'data': 'token=' + result.id
              + '&order_id=' + order_id
              + '&action=success' 
            + '&amountInCents=' + amountInCents
            + "&currency=" + currency
            + "&metadata[billNote]=" + bill_note
            + "&metadata[customerName]=" + customer_name
            + "&metadata[customerEmail]=" + customer_email,
             callback: function (result) {
           'success': function (data) {
            if(!data.error){
            swal({
              title: "Thank You",
              text: "Your Payment was successfull<br/>Thank you for your bussiness, hope to see you soon! ",
              icon: "success",
              button: "OK",
            }).then(function () {
                window.location = 'checkout/success';
             // location.reload();
            });
            }else{
                 swal({
              title: "Purchase failed",
              text: "Something went wrong and we couldn't get this for you<br/>"
              + error,
              icon: "error",
              button: "OK",
            });  
            }
           },
       //    },
               'error': function (result) {
            error = result.responseJSON;
              swal({
              title: "Purchase failed",
                 text: "Something went wrong and we couldn't get this for you<br/>"
              + error,
              icon: "error",
              button: "OK",
            });
               }

         // alert("card successfully tokenised: " + result.id);
        }
         
          },
          'error': function (result) {
            error = result.responseJSON;
            if (error) {
              if (error.errors) {
                log_activity("Failed to charge " + currency + " " + price + " : " + error.message);
                $.each(error.errors, function (key, value) {
                  log_activity("Validation: " + key + " : " + value[0]);
                });
              } else if (error.charge_error) {
                log_activity("Failed to charge " + currency + " " + price + " : " + error.charge_error.displayMessage);
              } else {
                log_activity("Failed to charge " + currency + " " + price + " : Unknown Error");
              }
            } else {
              log_activity("Failed to charge " + currency + " " + price + " : Unknown Error");
            }
            console.log(error);
            swal({
              title: "Purchase failed",
              text: "Something went wrong and we couldn't get this for you",
              icon: "error",
              button: "OK",
            });
          },
          'complete': function (result) {
            log_activity("Backend server call complete");
          },
        });
      }
    }
  });
});

$( "#checkout-button" ).click();

 </script>

 

